@import 'vars';
@import 'mixins';
@import 'place-holders';

html {
  background: url('/assets/images/bg.jpg') no-repeat center center fixed;
  @include bg-size(cover);
  min-height: -webkit-fill-available;
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  padding: 0px;
  margin: 0px;
  min-height: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

#root {
  min-width: 100vw;
  min-height: inherit;
}

.flex {
  display: flex;
}
